body {
	font-family: monospace;
}

.user_action {
	margin-bottom: 20px;
	margin-top: 20px;
}

#no_comments {
	margin-bottom: 40px;
	margin-top: 40px;
}

.comment{
	margin-top: 20px;
	border-left: solid;
	border-width: 1px;
	padding-left: 10px;
	margin-bottom: 30px;
}

.block_footer{
	font-size: 12px;
	font-weight: 600;
}

.post_link{
	margin-bottom: 0;
}

#discuss_post_title {
	font-size: 1.5em;
}