@media(prefers-color-scheme: light){
	body {
		color: #888;
		background: white;
	}
	.user_action > a {
		color: white;
	}
	.smalltext{
		color: black;
	}
	#footer {
		background: white;
	}
	a {
		color: blue
	}
}

@media(prefers-color-scheme: dark){
	body {
		color: #888;
		background: black;
	}
	.user_action > a {
		color: #ddd;
	}
	.smalltext{
		color: #ddd;
	}
	#footer {
		background: darkslategray;
	}
	a {
		color: lightsteelblue;
	}
	#logo_container {
		border: 1px solid #888;
		border-radius:5px;
	}
	textarea {
		color: #ddd;
		background: #111;
	}
}

body {
	font-family: monospace;
	padding-bottom: 50px;
}

.user_action > a {
	text-decoration: none;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
}

.user_action {
	margin-left: 20px;
	align-self: flex-end;
}

#no_comments {
	margin-bottom: 40px;
	margin-top: 40px;
}

.comment{
	margin-top: 20px;
	border-left: solid;
	border-width: 1px;
	padding-left: 10px;
	margin-bottom: 30px;
	max-width: 800px;
}

.smalltext{
	font-size: 12px;
	font-weight: 600;
}

.post_link{
	margin-bottom: 0;
}

#discuss_post_title {
	font-size: 1.5em;
	margin-bottom: 30px;
}

#logo{
	text-decoration: none;
	font-weight: 400;
	color: white;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}

#logo_container {
	display: inline-block;
	background: black;
	padding: 10px;
}

#header {
	display: flex;
	margin-bottom: 30px;
}

.header_block {
	display: flex;
	float: left;
}

.submit_button {
	margin-top: 20px;
}

#password_reset_link {
	margin-top: 15px;
}

#footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 600;
}

.footer_action {
	margin-left: 1em;
	margin-right: 1em;
}

a {
	text-decoration: none;
}
