{% extends "base.html" %}

{% load humanize %}

{% block content %}

<a href="{{ post.url }}"><h1 id="discuss_post_title">{{ post.title }}</h1></a>
{% if user.username %}
    <a href="{% url 'new_comment' post_pk=post.pk %}">
        <input id="new_comment_button" type="submit" value="Comment">
    </a>
{% endif %}
{% for comment in comments %}
    <div class="comment">
        <div class="smalltext">
            {{ comment.created_by.username }}
            [{{ comment.created_at|naturaltime }}]
            {% if comment.edited %}
                    (edited by {{ comment.updated_by }} {{ comment.updated_at|naturaltime }})
            {% endif %}
        </div>
        {{ comment.content|linebreaks }}
        <div class="smalltext">
            {% if user.id == comment.created_by.id or user.is_staff %}
                <a href="{% url 'edit_comment' pk=comment.pk %}">Edit</a> -
                <a href="{% url 'delete_comment' pk=comment.pk %}">Delete</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
</li>

{% endblock %}
