{% extends "base.html" %}

{% block content %}

<a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
<ul>
    {% for comment in comments %}
        <li>
            <p>{{ comment.content }}</p>
                {% if comment.edited %}
                    <p><i>(Comment was edited by {{ comment.updated_by }} at {{ comment.updated_at }})</i></p>
                {% endif %}
            <ul>
                <li>{{ comment.created_by.username }} -
                    {{ comment.created_at }}
                    {% if user.id == comment.created_by.id or user.is_staff %} -
                        <a href="/edit_comment/{{ comment.pk }}">Edit</a> -
                        <a href="/delete_comment/{{ comment.pk }}">Delete</a>
                    {% endif %}
                </li>
            </ul>
        </li>
    {% empty %}
	<p>
        No comments yet.
    </p>
    {% endfor %}
</li>
<input type="submit" value="Comment" onclick="location.href = '/new_comment/{{ post.pk }}';" style="margin-top: 20px">

{% endblock %}