{% extends "base.html" %}

{% block content %}

{% load humanize %}

<ul>
    {% for post in object_list %}
        <li>
            <a href="{{ post.url }}"><h3 class="post_link">{{ post.title }}</h3></a>
            <div class="block_footer">
                By {{ post.created_by.username }} {{ post.created_at|naturaltime }}
                - <a href="discuss/{{ post.pk }}">Discuss{% if post.comment_parent.count > 0 %} ({{ post.comment_parent.count }}){% endif %}</a>
                {% if user.id == post.created_by.id or user.is_staff %}
                    - <a href="delete_post/{{ post.pk }}">Delete</a>
                {% endif %}
            </div>
        </li>
    {% empty %}
        No links yet.
    {% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">more</a>
        {% endif %}
    </span>
</div>

{% endblock %}
