{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>{% block title %}Master League Pitching{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="header">
        <div class="header_block">
            <a href="{% url 'index' %}">
            <div id="logo_container">
                <span id="logo" href="/">
                    Master<br>
                    League<br>
                    Pitching;
                </span>
            </div></a>
        </div>
        <div class="header_block">
            {% if user.username %}
                    <span class="user_action">{{ user.username }}</span>
                    <span class="user_action"><a href="{% url 'new_post' %}">Submit</a></span>
                    <span class="user_action"><a href="{% url 'change_password' %}">Change password</a></span>
                    <span class="user_action"><a href="{% url 'logout' %}">Logout</a></span>
            {% else %}
                    <span class="user_action"><a href="{% url 'login' %}">Log in</a></span>
            {% endif %}
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% if user.username %}
        <div div id="footer">
            <a href="/invite">
                Invite a friend
            </a>
        </div>
    {% endif %}
</body>
</html>
